name: Estadisticas

on: 
   push: 
     branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout Repositorio
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Run Python Script
        run: python stats.py

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update stats
          commit_user_name: Ramon Fradua[GitHub Actions]"
          commit_user_email: ramon.fradua.formacion@gmail.com
          commit_autor: ramonfraduaformacion-commits
